@use '../../../scss/colors' as *;
@use '../../../scss/mixins' as *;

.button {
    padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
    border-radius: 0.3125rem;

    @include fonts(0.9375rem, 700, 1.125rem);

    text-align: center;

    border: none;
    outline: none;

    transition: all 0.18s;

    cursor: pointer;

    &:focus-visible {
        outline: 2px solid $clr-blue--300;
        outline-offset: 1px;
    }

    &_primary {
        background-color: $clr-blue--300;
        color: $clr-white;
        
        &:hover, &:active {
            background-color: darken($clr-blue--300, 5%);
        }
    }

    &_secondary {
        background-color: $clr-white;
        color: $clr-black;

        &:hover, &:active {
            background-color: darken($clr-white, 5%);
        }
    }

    &:disabled {
        cursor: default;
        background-color: darken($clr-white, 15%);;
        color: lighten($clr-black, 45%);;
    }
}