.questionSection {
    margin-top: 34px;

    background-color: #DDF3FF;

    width: min(868px, 100%);

    padding: 35px 35px 65px 35px;

    min-height: 432px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;

    //gap: 35px;
    

    &__buttons {
        display: flex;
        gap: 10px;

        margin-top: auto;
    }

    &__message {
        display: flex;
        gap: 10px;

        margin-top: 24px;

        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        
        color: #9A9A9A;
    }
}