@use '../../../../scss/mixins' as *;

.quizItem {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    margin: 2rem 0;

    &__title {
        margin: 0;
        padding: 0;
        
        @include fonts(1.25rem, 700, 1.5rem);
    }

    &__answerSelector {
        display: flex;
        gap: 0.9375rem;
        flex-direction: column;
    }
}