$card-width: min(15rem, 90vw);

.grid {
    width: 100%;
    display: grid;

    grid-template-columns: repeat(auto-fill, min(15rem, 90vw));

    row-gap: 2.1875rem;
    column-gap: min(2.1875rem, 4vw);

    place-items: center;
    place-content: center;

    margin-top: 4.125rem;
}