@use '../../../scss/mixins' as *;

.header {
    display: flex;

    gap: min(2.125rem, 8.5vw);

    align-items: start;
    justify-content: center;

    flex-direction: column;

    &>* {
        margin: 0;
    }

    &__title {
        @include fonts(min(2.5rem, 10vw), 700, min(3rem, 12vw));
    }

    &__description {
        @include fonts(min(1.25rem, 5vw), 400, min(1.5rem, 6vw));
    }

    @media (max-width: 1280px) {
        align-items: center;
        text-align: center;
    }
}