$clr-blue--300: #00A5FF;
$clr-blue--200: #89D1F8;
$clr-blue--100: #DDF3FF;

$clr-grey--400: #9A9A9A;
$clr-grey--300: #B8B8B8;
$clr-grey--200: #D2D2D2;
$clr-grey--100: #E9E9E9;

$clr-white: #FFFFFF;
$clr-black: #000000;